<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>vue</title>
    </head>
    <body>
        <div id="app">
            <span v-for="(vo,index) in list"></span>
            <input type="text" name="" v-if="show" v-model="val">
        </div>
        <script src="./src/core.js"></script>
        <script src="./src/vdom.js"></script>
        <script src="./src/util.js"></script>
        <script src="./src/vm.js"></script>
        <script src="./src/directives.js"></script>
        <script>
            var a = new Vue({
                el:"#app",
                data: {
                    show: true,
                    val: "hello world",
                    list: [{index:1},{index:2},{index:3}]
                },
                methods: {
                    index: 4,
                    test: function(){
                        return this;
                    }
                },
                before: function(){

                },
                created: function(){

                }
            });
        </script>
    </body>
</html>
